.card{
    align-content: center;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    box-shadow: 20px 20px #9baacb;
    font-family: 'Playfair Display', serif;
}
.img-thumbnail{
    width: 30%;
    object-fit: cover;
}
.long-img{
    height:50%;
    width: auto;
}
@media(max-width: 800px) {
    .img-thumbnail{
        width: 40%;
        min-width:150px;
    }
}
a{
    font-family: 'Hammersmith One';
    font-weight: 700;
    color: #b35897;
    text-decoration: none;
    transition-duration: 0.4s;
}
    a:active {
    color:#be3681;
    }
    a:hover{
    font-family:monospace;
    }
    a:visited{
    color:#90d1e4;
    }
h1, h5{
    font-family: 'Hammersmith One';
    font-weight: 700;
    font-style:italic;
    color: #be3681;
}
    h1:hover{
        text-decoration: wavy;
    }
h6{
    color: #a782b2;
}
p{
    font-weight: 500;
    font-family: 'Playfair Display';
    line-height: 180%;
}
.btn{
    background-color:#b35897;
    color: #000000;
    font-family:'Hammersmith One';
    transition-duration: 0.4s;
}
    .btn:hover{
        background-color: #be3681;
        border-radius: round;
        color:#9baacb;
        box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
    }
.footer{
    width:100%;
}